<div class="page-wrapper bg_alice">
    <app-menu></app-menu>

    <section class="banner-section style-three">
        <!-- Background Layer -->
        <div class="background-layer pink-gradient" style="background-image: url(assets/images/inicio/bg.png);"></div>

        <div class="auto-container">
            <div class="content-box">
                <!-- Upper Heading -->
                <div class="upper-heading">
                    <h3>
                        Encuentra tu oficina
                    </h3>
                    <p>Encuentra fantásticos lugares para trabajar, aprender o enseñar.</p>
                </div>

                <!-- Listing Search Tabs -->
                <div class="listing-search-tabs tabs-box">
                    <ul class="tab-buttons">
                        <li class="tab-btn active-btn">Lugares</li>
                    </ul>

                    <div class="tabs-content">
                        <!--Tab-->
                        <div class="tab active-tab" id="tab1">
                            <div class="listing-search-form">
                                <form action="view/list">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="Lista de ciudades">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <!--<input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder"
                                                data-text="Type and hit enter"></span>-->
                                            <select id="op" [formControl]="selected">
                                                <option value="null" id="opts">Elegir...</option>
                                                <option value="barcelona" id="opts">Barcelona</option>
                                                <option value="madrid" id="opts">Madrid</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>Nº plazas: 1</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-one bg-pink"
                                                (click)="search(redirect)">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab2">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search"
                                                placeholder="¿Qué estás buscando?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Localización">
                                            <span class="icon flaticon-placeholder"
                                                data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>Todas las categorías</option>
                                                <option>Residencial</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartamentos</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit"
                                                class="theme-btn btn-style-one bg-pink">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab3">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search"
                                                placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder"
                                                data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit"
                                                class="theme-btn btn-style-one bg-pink">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab4">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search"
                                                placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder"
                                                data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab5">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search"
                                                placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder"
                                                data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section style-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>¿Donde deseas buscar?</h2>
                <span class="divider"></span>
                <div class="text">Explore algunos de los mejores consejos de la ciudad de nuestros socios y amigos.
                </div>
            </div>

            <div class="row">
                <!-- Feature Block -->
                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/barcelona.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">

                                <h5>Barcelona</h5>
                                <span class="locations">07 Localizaciones</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/valencia.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Valencia</h5>
                                <span class="locations">58 Localizaciones</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/malaga.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Málaga</h5>
                                <span class="locations">43 Localizaciones</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/Oviedo.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Oviedo</h5>
                                <span class="locations">13 Localizaciones</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/donostia.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Donostia</h5>
                                <span class="locations">129 Localizaciones</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/madrid.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Madrid</h5>
                                <span class="locations">6 Localizaciones</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="listing-section style-two" #redirect>
        <div class="container-fluid">
            <div class="sec-title text-center">
                <h2>Espacios destacados</h2>
                <span class="divider"></span>
                <div class="text">Explore algunos de los mejores consejos de la ciudad de nuestros socios y amigos.
                </div>
            </div>

            <div class="carousel-outer">
                <div class="four-items-carousel owl-carousel owl-theme default-nav">
                    <div class="container-fluir">
                        <div class="row">
                            <div class="col-4" *ngFor="let propiedad of propiedadesFiltradas | paginate: { itemsPerPage: 3, currentPage: page }">
                                <div class="listing-block">
                                    <div class="inner-box">
                                        <div class="image-box">

                                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <figure class="image d-block w-100"><img src="assets/images/offices/test.png">
                                                        </figure>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <figure class="image d-block w-100"><img src="">
                                                        </figure>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <figure class="image d-block w-100"><img src="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tags">
                                                <span>Desde: {{propiedad.tarifa}} euros/mes</span>
                                                <!--<select class="seleccionar">
                                                    <option>5-10</option>
                                                    <option>10-20</option>
                                                    <option>20-30</option>
                                                </select>-->
                                            </div>
                                            <i class="fas fa-exclamation-triangle colocar">Precios Orientativos</i>
                                        </div>
                                        <div class="lower-content">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3><a [routerLink]="['/view/office',propiedad.id]">{{propiedad.nombre}} <span
                                                        class="icon icon-verified"></span></a></h3>
                                            
                                            <span *ngIf="mostrarCompleto">
                                                <div [innerHTML]="propiedad.descripcion"></div>
                                                 <a (click)="mostrarCompleto = !mostrarCompleto" href="javascript:void(0)">...Ocultar</a>
                                            </span>
                                                        
                                            <span *ngIf="!mostrarCompleto">
                                                {{arrayTextoLimpio}} <a (click)="mostrarCompleto = !mostrarCompleto" title="Mostrar texto completo"
                                                href="javascript:void(0)">Leer más</a>
                                            </span>

                                            <ul class="info">
                                                <li><span class="flaticon-pin"></span> {{propiedad.ciudad}}</li>
                                                <li><span class="flaticon-phone-call"></span> 633 83 24 14 </li>
                                            </ul>
                                        </div>
                                        <div class="bottom-box">
                                            <div class="places">
                                                <div class="place"><span class="icon flaticon-user"></span> +{{propiedad.personas}} personas
                                                </div>
                                            </div>
                                            <div class="status">Gratis</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </section>

    <app-howitworks></app-howitworks>
</div>
<app-footer></app-footer>