<div class="page-wrapper bg_alice">
    <app-menu></app-menu>

    <section class="banner-section style-three">
        <!-- Background Layer -->
        <div class="background-layer pink-gradient" style="background-image: url(assets/images/inicio/bg.png);"></div>

        <div class="auto-container">
            <div class="content-box">
                <!-- Upper Heading -->
                <div class="upper-heading">
                    <h3>
                        Find your office 
                    </h3>
                    <p>Find great places to work, learn, or teach.</p>
                </div>

                <!-- Listing Search Tabs -->
                <div class="listing-search-tabs tabs-box">
                    <ul class="tab-buttons">
                        <li class="tab-btn active-btn">Places</li>
                    </ul>

                    <div class="tabs-content">
                        <!--Tab-->
                        <div class="tab active-tab" id="tab1">
                            <div class="listing-search-form">
                                <form action="view/list">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>Prueba</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-one bg-pink" click="search()">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab2">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-one bg-pink">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab3">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-one bg-pink">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab4">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="tab5">
                            <div class="listing-search-form">
                                <form method="post" action="index.html">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <input type="text" name="listing-search" placeholder="What are you looking for?">
                                        </div>
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 location">
                                            <input type="text" name="listing-search" placeholder="Lucation">
                                            <span class="icon flaticon-placeholder" data-text="Type and hit enter"></span>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                            <select class="chosen-select">
                                                <option>All Categories</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Apartments</option>
                                            </select>
                                        </div>

                                        <!-- Form Group -->
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 text-right">
                                            <button type="submit" class="theme-btn btn-style-two">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section style-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Where are you looking for?</h2>
                <span class="divider"></span>
                <div class="text">Explore some of the best tips from around the city from our partners and friends.</div>
            </div>

            <div class="row">
                <!-- Feature Block -->
                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/barcelona.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">

                                <h5>Barcelona</h5>
                                <span class="locations">07 Locations</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/valencia.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Valencia</h5>
                                <span class="locations">58 Locations</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/malaga.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Málaga</h5>
                                <span class="locations">43 Locations</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/Oviedo.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Oviedo</h5>
                                <span class="locations">13 Locations</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/donostia.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Donostia</h5>
                                <span class="locations">129 Locations</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="assets/images/inicio/madrid.png" alt=""></figure>
                        <div class="overlay-box">
                            <div class="content">
                                <h5>Madrid</h5>
                                <span class="locations">94 Locations</span>
                                <a href="/view/list" class="overlay-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="listing-section style-two">
        <div class="container-fluid">
            <div class="sec-title text-center">
                <h2>Featured Offices</h2>
                <span class="divider"></span>
                <div class="text">Explore some of the best tips from around the city from our partners and friends.</div>
            </div>

            <div class="carousel-outer">
                <div class="four-items-carousel owl-carousel owl-theme default-nav">
                    <div class="container-fluir">
                        <div class="row">
                            <div class="col-4">
                                <div class="listing-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/offices/test.png" alt=""></figure>
                                            <div class="tags">
                                                <span>Featured</span>
                                                <span>$25 - $35</span>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3><a href="/view/office">Test office 1 <span class="icon icon-verified"></span></a></h3>
                                            <div class="text">Test office 1 descrip</div>
                                            <ul class="info">
                                                <li><span class="flaticon-pin"></span> Parla</li>
                                                <li><span class="flaticon-phone-call"></span> 633 83 24 14 </li>
                                            </ul>
                                        </div>
                                        <div class="bottom-box">
                                            <div class="places"> 
                                                <div class="place"><span class="icon flaticon-user"></span> +5 persons </div>
                                            </div>
                                            <div class="status">Free</div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-4">
                                <div class="listing-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/offices/test.png" alt=""></figure>
                                            <div class="tags">
                                                <span>Featured</span>
                                                <span>$25 - $35</span>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3><a href="/view/office">Test office 1 <span class="icon icon-verified"></span></a></h3>
                                            <div class="text">Test office 1 descrip</div>
                                            <ul class="info">
                                                <li><span class="flaticon-pin"></span> Parla</li>
                                                <li><span class="flaticon-phone-call"></span> 633 83 24 14 </li>
                                            </ul>
                                        </div>
                                        <div class="bottom-box">
                                            <div class="places"> 
                                                <div class="place"><span class="icon flaticon-user"></span> +5 persons </div>
                                            </div>
                                            <div class="status">Free</div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-4">
                                <div class="listing-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="assets/images/offices/test.png" alt=""></figure>
                                            <div class="tags">
                                                <span>Featured</span>
                                                <span>$25 - $35</span>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h3><a href="/view/office">Test office 1 <span class="icon icon-verified"></span></a></h3>
                                            <div class="text">Test office 1 descrip</div>
                                            <ul class="info">
                                                <li><span class="flaticon-pin"></span> Parla</li>
                                                <li><span class="flaticon-phone-call"></span> 633 83 24 14 </li>
                                            </ul>
                                        </div>
                                        <div class="bottom-box">
                                            <div class="places"> 
                                                <div class="place"><span class="icon flaticon-user"></span> +5 persons </div>
                                            </div>
                                            <div class="status">Free</div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <app-howitworks></app-howitworks>
</div>
<app-footer></app-footer>
