<div class="page-wrapper">
    <app-menu></app-menu>

    <section class="page-title" style="background-image: url(assets/images/nosotros/bg.png);">
        <div class="auto-container">
            <h1>About us</h1>
            <div class="text">Aliquam erat volutpat. Praesent mattis</div>
        </div>
    </section>

    <section class="what-we-do">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>What we do?</h2>
                <span class="divider"></span>
                <div class="text">Explore some of the best offices from around the city.</div>
            </div>

            <div class="row">
                <!-- Video Column -->
                <div class="video-column col-lg-6 col-md-12 col-sm-12">
                    <div class="video-box">
                        <figure class="image"><img src="assets/images/nosotros/our.png" alt=""></figure>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="inner">
                            <h4>Our Awesome Story</h4>
                            <p>Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla, viverra est ut, faucibus lectus. Integer vel finibus ex, et convallis enim. Curabitur tristique convallis neque a eleifend. Donec mattis leo in velit scelerisque, sit amet ultricies erat mollis.</p> 
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="fact-counter">

                <!--Column-->
                <div class="counter-column wow fadeInUp">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="985">+500</span>
                        <h4 class="counter-title">Working Offices</h4>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column wow fadeInUp" data-wow-delay="400ms">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="796">+245</span>
                        <h4 class="counter-title">Happy clients</h4>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column wow fadeInUp" data-wow-delay="800ms">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="3890">+10</span>
                        <h4 class="counter-title">Years of experience</h4>
                    </div>
                </div>

                <!--Column-->
                <div class="counter-column wow fadeInUp" data-wow-delay="1200ms">
                    <div class="count-box">
                        <span class="count-text" data-speed="5000" data-stop="80">0</span>
                        <h4 class="counter-title">Team members</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-howitworks></app-howitworks>
</div>
<app-footer></app-footer>
